.Main {
  height: 100%;
  width: 100%;
}

.logo {
  max-width: 400px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 80vh;
  width: 100%;
  overflow:hidden;
}

video {
  width: 100%;
  object-fit: cover;
}


.main-container h1,
h3 {
  padding-block: 50px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "F1";
  font-weight: 600;
}

.rest-container {
  width: 80vw;
}

.board-leaderboard-container {
  font-family: "F1";
  font-weight: 600;
}

.welcome-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5vw;
  width: 100%;
}

.welcome-content p {
  color: white;
  font-family: "F1";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  width: 70vh;
}

.welcome-content iframe {
  height: 480px;
  width: 854px;
}

.stream-container {
  height: 80vh;
}

.discord-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10vw;
  width: 100%;
}

.discord-content p {
  color: white;
  font-family: "F1";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  width: 70vh;
}

.tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media (min-width: 300px) and (max-width: 600px) {
  .header {
    height: 20vh;
  }

  .content{
    height: 200px;
    top: 20vh;
  }
  
  .logo{
    width: 200px;
  }

  .welcome-content,
  .discord-content {
    flex-direction: column;
    row-gap: 50px;
  }

  .welcome-content iframe {
    width: 100%;
  }

  .welcome-content p {
    font-size: 5vw;
    width: 100%;
  }

  .discord-content iframe {
    width: 100%;
  }

  .discord-content p {
    width: 100%;
  }

 
}
