@font-face {
    font-family: 'F1';
    src: url(./fonts/Formula1-Regular_web.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'F1';
    src: url(./fonts/Formula1-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'F1';
    src: url(./fonts/Formula1-Bold_web.ttf) format('truetype');
    font-weight:700;
}

@font-face {
    font-family: 'F1';
    src: url(./fonts/Formula1-Display-SemiBold.ttf) format('truetype');
    font-weight:600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    height: 100%;
    width: 100%;
}

